<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="it">
    <head>
        <meta charset="UTF-8"/>
        <link rel="icon" type="image/x-icon" th:href="@{/fallout/favicon.ico}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/fallout/css/style.css}"/>
        <title layout:fragment="title">Fallout-WebTRPG</title>
    </head>
    <body>
        <div class="scanline"></div>
        <div class="crt-overlay"></div>
        <div layout:fragment="content">
            <h1>Fallout-WebTRPG</h1>
        </div>
        <footer class="fallout-footer">
            <p>Ideato da andrea2004g. Progettato e scritto da <a href="https://github.com/Hacker6329">Hacker6329</a>, <a href="https://github.com/ItalianDudes">ItalianDudes</a></p>
        </footer>
    </body>
</html>