<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="it">
    <head>
        <meta charset="UTF-8"/>
        <link rel="icon" type="image/x-icon" th:href="@{/dnd5e/favicon.ico}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/dnd5e/css/style.css}"/>
        <title layout:fragment="title">D&D5E-WebTRPG</title>
    </head>
    <body>
        <header class="dnd5e-header">
            <a href="/dnd5e">
                <img th:src="@{/dnd5e/favicon.ico}" th:href="@{'/dnd5e/'}" class="logo" title="Menu Principale" alt="WebTRPG"/>
            </a>
            <a href="/profile">
                <img th:src="${userImage}" th:href="@{'/dnd5e/'}" class="profile" title="Profilo" alt="Profile"/>
            </a>
        </header>
        <div class="particles">
            <span></span><span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span><span></span>
        </div>
        <div layout:fragment="content" class="page-content">
            <h1>D&D5E-WebTRPG</h1>
        </div>
        <footer class="dnd5e-footer">
            <p>Ideato da Wizard of the Coasts. Personalizzato, progettato e scritto da <a href="https://github.com/Hacker6329">Hacker6329</a>, <a href="https://github.com/ItalianDudes">ItalianDudes</a></p>
        </footer>
    </body>
</html>