<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="it">
    <head>
        <meta charset="UTF-8"/>
        <link rel="icon" type="image/x-icon" th:href="@{/dnd5e/favicon.ico}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/dnd5e/css/style.css}"/>
        <title layout:fragment="title">D&D5E-WebTRPG</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h1>D&D5E-WebTRPG</h1>
        </div>
        <footer class="dnd5e-footer">
            <p>Ideato da Wizard of the Coasts. Personalizzato, progettato e scritto da <a href="https://github.com/Hacker6329">Hacker6329</a>, <a href="https://github.com/ItalianDudes">ItalianDudes</a></p>
        </footer>
    </body>
</html>