<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dnd5e/_base}"
      lang="it">
    <div layout:fragment="content">
        <div style="text-align: center;" th:if="${campaigns == null || campaigns.isEmpty()}">
            <p>NESSUNA CAMPAGNA TROVATA</p>
        </div>
        <div th:if="${campaigns != null && !campaigns.isEmpty()}">
            <p>Campagne Disponibili:</p>
            <ul th:each="campaign : ${campaigns}">
                <li><a th:text="${campaign.name}" th:href="@{'/dnd5e/campaigns/' + ${campaign.id}}"></a></li>
            </ul>
        </div>
    </div>
</html>
