<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="it">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css"  th:href="@{/web/css/style.css}"/>
        <title layout:fragment="title">WebTRPG</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h1>WebTRPG</h1>
        </div>
        <footer class="main-footer">
            <p>Progettato e scritto da <a href="https://github.com/Hacker6329">Hacker6329</a>, <a href="https://github.com/ItalianDudes">ItalianDudes</a></p>
        </footer>
    </body>
</html>