<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{web/_base}"
      lang="it">
    <div layout:fragment="content">
        <h1 style="text-align: center;">WebTRPG</h1>
        <p>Benvenuto in WebTRPG!</p>
        <p>Qui potrai trovare i link per accedere ai vari TRPG giocabili con Hacker6329.</p>
        <ul>
            <li><a href="/">D&D 5E [TODO]</a></li>
            <li><a href="/fallout">Fallout [WIP]</a></li>
            <li><a href="/">CyberpunkRED [TODO]</a></li>
        </ul>
    </div>
</html>
