<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{web/_base}"
      lang="it">
    <div layout:fragment="content">
        <form th:object="${registerDTO}" th:action="@{/register}" method="post">
            <label>Username <input th:field="*{username}" type="text" placeholder="Username" required/></label><br/>
            <label>Email <input th:field="*{mail}" type="email" placeholder="Email" required/></label><br/>
            <label>Password <input th:field="*{plainPassword}" type="password" placeholder="Password" required/></label><br/>
            <button type="submit">Login</button><br/>
            <p th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"></p><br/>
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p><br/>
            <p th:if="${#fields.hasErrors('plainPassword')}" th:errors="*{plainPassword}"></p><br/>
        </form>
        <p>Hai già un utente registrato? Clicca <a href="/login">qui</a>.</p>
    </div>
</html>