<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html xmlns:th="http://www.thymeleaf.org" lang="it">
    <div class="sheet-tab-proficiencies-languages-privileges-and-traits-main-container">
        <div>
            <table id="armorsProficiencyTable">
                <thead>
                <tr>
                    <th>Armatura</th>
                    <th>Livello Competenza</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div style="text-align:center;">
                <button onclick="newProficiencyRow('armorsProficiencyTable')">Aggiungi Armatura</button>
                <button onclick="deleteProficiencyRow('armorsProficiencyTable')">Rimuovi Armatura</button>
            </div>
        </div>
        <div>
            <table id="weaponsProficiencyTable">
                <thead>
                <tr>
                    <th>Arma</th>
                    <th>Livello Competenza</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div style="text-align:center;">
                <button onclick="newProficiencyRow('weaponsProficiencyTable')">Aggiungi Arma</button>
                <button onclick="deleteProficiencyRow('weaponsProficiencyTable')">Rimuovi Arma</button>
            </div>
        </div>
        <div>
            <table id="toolsProficiencyTable">
                <thead>
                <tr>
                    <th>Strumento</th>
                    <th>Livello Competenza</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div style="text-align:center;">
                <button onclick="newProficiencyRow('toolsProficiencyTable')">Aggiungi Strumento</button>
                <button onclick="deleteProficiencyRow('toolsProficiencyTable')">Rimuovi Strumento</button>
            </div>
        </div>
        <div>
            <table id="activitiesProficiencyTable">
                <thead>
                <tr>
                    <th>Attività</th>
                    <th>Livello Competenza</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div style="text-align:center;">
                <button onclick="newProficiencyRow('activitiesProficiencyTable')">Aggiungi Attività</button>
                <button onclick="deleteProficiencyRow('activitiesProficiencyTable')">Rimuovi Attività</button>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        function createProficiencySelect() {
            const select = document.createElement("select");
            // noinspection JSMismatchedCollectionQueryUpdate
            const proficiencyLevels = /*[[${proficiencyLevelsReadableTexts}]]*/ [];
            proficiencyLevels.forEach(level => {
                const option = document.createElement("option");
                option.value = level;
                option.text = level;
                select.appendChild(option);
            });
            return select;
        }

        function newProficiencyRow(tableId) {
            const table = document.getElementById(tableId).getElementsByTagName("tbody")[0];
            const newRow = table.insertRow();

            const cellProficiencyName = newRow.insertCell(0);
            const inputProficiencyName = document.createElement("input");
            inputProficiencyName.type = "text";
            inputProficiencyName.placeholder = "Inserisci competenza";
            cellProficiencyName.appendChild(inputProficiencyName);

            const cellProficiencyLevel = newRow.insertCell(1);
            cellProficiencyLevel.appendChild(createProficiencySelect());
        }

        function deleteProficiencyRow(tableId) {
            const table = document.getElementById(tableId).getElementsByTagName("tbody")[0];
            if (table.rows.length > 0) {
                table.deleteRow(table.rows.length - 1);
            }
        }
    </script>
</html>